/* Loading Animation  */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
.lds-dual-ring:after {
content: " ";
display: block;
width: 64px;
height: 64px;
margin: 8px;
border-radius: 50%;
border: 6px solid rgb(0, 0, 0);
border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
body{
    text-align: center;
    background-color: black;
    color: white;
}
  
h1{
    text-shadow: 2px 2px  0px rgb(224, 155, 221);
    text-align: center;
}
.hide {
display: none;
}
#dogImg{
    box-shadow: 0 0 15px 5px rgb(185, 127, 185);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
#dogImg img{
    margin: 20px;
    width: 400px;
}
#selectDog{
    margin: 30px 0;
    outline: none;
    border: 2px solid rgb(182, 174, 174);
    width: 350px;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
}
#submit{
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(90, 88, 88),  rgb(255, 255, 255));
}
#submit:hover{
    background: linear-gradient(rgb(228, 222, 222),  rgb(29, 27, 27));
    color: white;
    transition: .5s;
}